<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gunz</title>
</head>
<style>
    .container{display: flex;}
    .headers{flex-direction: column; margin:auto;}
    h2{margin: auto; flex-direction: row;}
    h3{margin: auto;}
</style>
<body>
    <div class="container">
        <div class = "headers">
            <h2>Smg</h2>
            <% for(var i = 0; i < smg.length; i++){%>
            <h3><%= smg[i].name %></h3>
            <%}%>
        </div>
        <div class="headers">
            <h2>Assault Rifle</h2>
            <% for(var i = 0; i < assaultrifle.length; i++){%>
                <h3><%= assaultrifle[i].name %></h3>
                <%}%>
        </div>
        <div class="headers">
            <h2>Sniper Rifle</h2>
            <% for(var i = 0; i < sniper.length; i++){%>
                <h3><%= sniper[i].name %></h3>
                <%}%>    
        </div>
        <div class="headers">
            <h2>Handgun</h2>
            <% for(var i = 0; i < handgun.length; i++){%>
                <h3><%= handgun[i].name %></h3>
            <%}%>
        </div>
    </div>
    
    
</body>
</html>