<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= userData.username %></title>
</head>
<body>
    <h1><%= userData.username %></h1>
    <h3><%= userData.email %></h3>
    <h3><%= userData.balance %></h3>
    
</body>
</html>