<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register new user</title>
</head>
<style>
    .error{color:red;}
</style>
<body>
    <h1>Register to COOL GUN SHOP</h1>
    <% if(error){%>
        <h3 class="error">Error: <%= error %></h3>
    <%}%>
    <form action="/users/register" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <label for="email">Email</label>
        <input type="text" name="email">
        <button type="submit">Register</button>
    </form>
</body>
</html>